#mainNav{
    margin-bottom: 0px;
}

#mainCarousel{
    margin-bottom: 30px;
}

.alert-success, .alert-danger {
    display:inline-block;
    position:absolute;
    width:400px;
    top:12%;
    right:2%;
    z-index:1000;
}